.image-text-container {
  display: flex;
  position: relative;
}

.text-container {
  max-width: 100%;
  /* Adjust margin as needed */
  padding-left: 30px;
  justify-content: center;
  position: relative;
}

.phase2-image {
  width: 650px;
  /* Adjust this value as needed */
  height: 300px;
  /* Maintain aspect ratio */
  border-radius: 20px;
  transition: transform 1s, box-shadow 0.3s;
}

.phase2-image:hover {
  transform: scale(1.02);
  /* Increase size by 5% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Add shadow effect */
}

.button-container {
  position: absolute;
  bottom: 10px;
  /* Adjust this value to change the distance from the bottom */
  white-space: nowrap;
  /* Prevent text from wrapping */
  /* Adjust the height as needed */

}

.see-button {
  margin-top: 12%;
  height: 50px;
    width: 170px;
    border-radius: 20px;
    color: white;
    background-color: black;
    transition: transform 0.3s, box-shadow 0.3s;

}

.see-button:hover {
  transform: scale(1.05);
  /* Increase size by 5% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Add shadow effect */
}

.img-name{
  font-weight: 500;
}

.image-overlay-container {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
}

.overlay-image {
  background-size: cover;
  height: 12rem;
  width: 18rem;
  border-radius: 40px;
  margin-bottom: 20px;
  padding: 15px;
  color: white;
  margin-top: 60px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;

  z-index: 0;
  /* Ensure overlay is behind buttons/titles (optional) */


}

.overlay-title {
  z-index: 1;
}

.overlay-button {
  height: 3rem;
  width: 9rem;
  margin-top: 70px;
  margin-left: 40%;
  border-radius: 20px;
  background-color: #0d1b23;
  border: none;
  /* border: 2px solid rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
}

.overlay-button:hover {
  transform: scale(1.05);
  /* Increase size by 5% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Add shadow effect */
}


@media screen and (max-width: 1400px) {


  /* Target Laptop-sized screens */
  .container-card{
    margin-left: 15px;
  }

  

  .overlay-image{
    
    margin-right: 15px;
  }

  

  
}

@media screen and (max-width: 1200px) {


  /* Target Laptop-sized screens */
  .container-card{
    margin-right: -30px;
  }

  .overlay-image{
   
    margin-right: 12px;
  }

  .overlay-title{
    font-size: 24px;
  }

  .overlay-button{
    margin-top: 40px;
    margin-left: 30%;
  }

  
}



@media screen and (max-width: 1025px) {

  /* Target Laptop-sized screens */
  .container-card{
    margin-right: 26px;
  }
  .container-card img{
    height: 70px;
    width: 112px;
  }



  .see-more-button {
    bottom: 0px;
  }

  .overlay-image {

    margin-right: 20px;
    height: 160px;
    width: 209px;
  }

  


  .overlay-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    
  }

  .image-overlay-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
  }

  .overlay-title {
    padding: 5px;
  }

  
}



@media screen and (max-width: 992px) {

  /* Target desktop-sized screens */
  .container-card {
    margin-right: -18px;
  }
      
  .container-card img{
    height: 60px;
    width: 85px;
  }

  .service-title{
    font-size: 12px;
  }
  
  .phase2-text{
    font-size: 12px;
    margin-top: 30%;
    color: #868686;
}

.overlay-image {
  margin-right: 13px;
  height: 146px;
  width: 156px;
  margin-top: 30px;
}


    
 
}



@media screen and (max-width: 769px) {

  /* Target Tablet-sized screens */
  .phase2-image {
    width: 580px;
    height: 250px;
  }

  .see-button {
    bottom: -10px;
  }

  .overlay-image {
    margin-right: 13px;
    height: 146px;
    width: 156px;
    margin-top: 30px;
  }

  .overlay-button{
    position: relative;
    bottom: 0px;
    right: 0px;
  }

  .phase2-text {
    font-size: 14px;
    margin-top: 5%;
}
  .overlay-button {
    margin-top: 10px;
    margin-left: -6px;
  }

  .overlay-title {
    padding: 10px;
    font-size: 18px;
  }

  .container-card img {
    height: 58px;
    width: 92px;
}

.container-card {
  margin-left: 16px;
  margin-bottom: 50px;
}

}



@media screen and (max-width: 767px) {


  .image-container{
    display: none;
  }

  .image-overlay-container {
    
    padding-right: 0%;
}

  .container-card img {
    height: 100%;
    width: 120%;
}

.container-card {
  margin-left: 10%;
  margin-bottom: 10%;
}

  .phase2-image {
    width: 50%;
   
  }

  .see-button {
    bottom: -10px;
  }

  .overlay-image {
    margin-right: 23px;
    height: 149px;
    width: 235px;
    margin-top: 30px;
  }

 

  .phase2-text {
    font-size: 12px;
    margin-top: 5%;
}
  .overlay-button {
    
    margin-top: 18%;
      margin-left: -6px;
      height: 30%;
      width: 58%;
  
  }

  .overlay-title {
    padding: 10px;
    font-size: 18px;
  }

  

 .book-now-button,.explore-now-button{
  height: 10%;
  margin: 1%;
 }

}

@media screen and (max-width: 540px) {

  .overlay-image {
    margin-right: 20px;
    
  }

.book-now-button,.explore-now-button{
  height: 10%;
 }

}

@media screen and (max-width: 534px) {

  .overlay-image {
    margin-right: 19px;
    
  }

.book-now-button,.explore-now-button{
  height: 10%;
 }

}

@media screen and (max-width: 532px) {

  .overlay-image {
    margin-right: 4vh;
    
  }



}

@media screen and (max-width: 525px) {

  .overlay-image {
    margin-right: 3vh;
    
  }



}

@media screen and (max-width: 517px) {

  .overlay-image {
    margin-right: 2vh;
    
  }



}

@media screen and (max-width: 509px) {

  .overlay-image {
    margin-right: 1vh;
    
  }



}


@media screen and (max-width: 502px) {

  .overlay-image {
    margin-left: 5%;
    height: 71%;
    margin-right: 20px;
    width: 206px;
    
  }



}

@media screen and (max-width: 476px) {

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    padding-left: 7%;
}

.overlay-button {
  margin-top: 7%;
  margin-left: -6px;
  height: 36%;
  width: 60%;
}

.overlay-image {
  
  margin-left: 1rem;
  margin-right: 1rem;
  height: 12rem;
  width: 23rem;
  
}

.container-card {
  margin-left: 5%;
  margin-bottom: 10%;
  margin-right: 2%;
}



}

@media screen and (max-width: 468px) {

  

.overlay-button {
  margin-top: 7%;
  margin-left: -6px;
  height: 36%;
  width: 60%;
}

.overlay-image {
  
  height: 70%;
  margin-right: 10px;
  
}



}


@media screen and (max-width: 456px) {

  

  .overlay-button {
    margin-top: 7%;
    margin-left: -6px;
    height: 36%;
    width: 60%;
  }
  
  .overlay-image {
    
    
    margin-right:9px;
    
  }


  
  
  
  }


  @media screen and (max-width: 454px) {
    .overlay-image {
      margin-right:8px;
    }
    }
  

    @media screen and (max-width: 453px) {
      .overlay-image {
        margin-right:7px;
      }
      }

      @media screen and (max-width: 450px) {
        .overlay-image {
          margin-right:6px;
        }
        }
        
        @media screen and (max-width: 448px) {
          .overlay-image {
            margin-right:50px;
            height: 150px;
            width: 160px;
          }
          }

          @media screen and (max-width: 444px) {
            .overlay-image {
              margin-right:48px;
              height: 150px;
              width: 160px;
            }
            }

            @media screen and (max-width: 440px) {
              .overlay-image {
                margin-right:46px;
                height: 150px;
                width: 160px;
              }
              .container-card {
                margin-left: 4%;
                
            }

              }

              /* @media screen and (max-width: 436px) {
                .overlay-image {
                  margin-right:44px;
                  height: 150px;
                  width: 160px;
                }
                .container-card {
                  margin-left: 4%;
                  
              }
  
                } */

                @media screen and (max-width: 436px) {
                  .overlay-image {
                    margin-right:42px;
                    height: 150px;
                    width: 160px;
                  }
                  .container-card {
                    margin-left: 4%;
                    
                }
                .see-button {
                  margin-top: 1%;
              }

              .phase2-text {
                font-size: 10px;
                margin-top: 5%;
            }


                  }

                  @media screen and (max-width: 428px) {
                    .overlay-image {
                      margin-right:40px;
                      height: 150px;
                      width: 160px;
                    }
                    .container-card {
                      margin-left: 4%;
                      
                  }
                  
  
  
                    }
  

@media screen and (max-width: 426px) {

  /* Target mobile-L portrait screens */
  .image-text-container {
    display: block;
    position: relative;

  }
  .image-overlay-container {
    
    margin-left: 5%;
}

  .content{
    height: auto;
  }

  .container-card {
    margin-left: 0%;
    margin-bottom: 16%;
}

  .phase2-image {
    width: 100%;
    height: 50%;

  }
  
  .overlay-title {
    padding: 10px;
    font-size: 25px;
}
  .phase2-text{
    font-size: 12px;
  }

  .see-button{
    margin-top: 5%;
  }

  h4{
    margin-top: 5%;
  }

  .overlay-button {
    margin-top: 3rem;
    margin-left: 7rem;
    height: 3rem;
    width: 10rem;
}

  .text-container{
    padding-left: 10px;
    height:auto ;
  }

  .overlay-image{
    margin-left: 1%;
    margin-right: 1%;
    height: 12rem;
    width: 20rem;
  }

  .buttons-container {
    
    padding-left: 0%;
}

.request-title{
  font-size: 16px;
}
  
.image-container-p4{
  width: 69%;
  height: 78%;
}


}




@media screen and (max-width: 407px) {

  /* Target mobile-L portrait screens */
  .container-card {
    margin-right: 4px;
    margin-left: 0%;
    margin-bottom: 16%;
}



}



@media screen and (max-width: 400px) {

  /* Target mobile-L portrait screens */
  .container-card {
    margin-right: 0px;
    margin-left: 0%;
    margin-bottom: 16%;
}



}

@media screen and (max-width: 390px) {

  /* Target mobile-L portrait screens */
  .container-card {
    margin-right: -4px;
    margin-left: 0%;
    margin-bottom: 16%;
}

.container-card img {
  height: 100%;
  width: 110%;
}


}




@media screen and (max-width: 377px) {

  /* Target mobile-L portrait screens */
  .container-card {
    margin-left: 8%;
    margin-bottom: 16%;
}
  



}











@media screen and (max-width: 321px) {

  /* Target small mobile -sized screens */
  .container-card {
    margin-left: 7%;
    margin-bottom: 16%;
}

.book-now-button, .explore-now-button {
  height: 52px;
  margin: 1%;
}

.overlay-image {
  margin-left: 1%;
  height: 76%;
  width: 290px;
}

}