.categories-container_p6{
  margin-top: 4%;
  display: flex;
}

.circle_service_img{
  height: 30rem;
  width: 30rem;
}

.ph6-image-row{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
}

.categories-img img{
  border-radius: 50%;
  /* background-color: black; */
  height: 100px;
  width: 100px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.categories-img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

.categories-title{
  margin-top: 10%;
  margin-left: 10%;
}

.categories-img:hover {
transform: scale(1.05);
/* Increase size by 5% */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}