.Tradning_product_page{
  margin-top: 40px;
  margin-bottom: 10%;
}
.Tanding_product_see_more{
  margin-top: 0.5%;
  margin-left: 69%;
}

#content::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */



.headsection{
  display: flex;
}
.Trending_product_container {
  
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .tranding_page_Card {
    display: inline-block;
  }
}
.tranding_page_Card {
  background-color: #F0ECEC;
    border-radius: 5%;
    /* text-align: start; */
    margin: 5% -4% 5% 5%;
    width: 15rem;
    height: auto;
}
.trending_product_img {
  border-radius: 5%;
  height: 170px;
  width: 150px;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.tranding_product_buy_button{
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  height: auto;
  width: 9rem;
  margin-top: 1rem;
  text-align: center;
}

.buy-now{
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: black;
}


.tranding_page_product_name {
  margin-top: 3%;
  font-size: 22px;
  color: black;
  font-weight: 400;
}
.tranding_page_product_price {
  margin-top: 10%;
  margin-bottom: 10%;
  color: black;
}
.tranding_product_text_box {
  background: #ffffff;
  width: 14rem;
  height: 2.3rem;
  /* border-color: black; */
  padding-left: 4%;
  padding-bottom: 5;
  border-radius: 4px;
  margin-top: 3%;
  
}

.tranding_product_text_box_2 {
  background: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 15%; 
  font-weight: 500; 
  text-align: center;
  width: 5rem;
  border-radius: 20px;
}

.tranding_product_text_box_3{
  background: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 10%; 
  font-weight: 500; 
  text-align: center;
  width: 5rem;
  border-radius: 20px;
}





.price_section{
  display: flex;
  margin-right: 5%;
}

.Trending_product_container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.Trending_product_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Change the color when the thumb is being hovered */
.Trending_product_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
}

/* Optional: Customize scrollbar width and height */
.Trending_product_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media (max-width:769px){
    .Tradning_product_page {
      margin-top: 12%;
  }
}
@media (max-width: 426px){
  .Tradning_product_page {
    margin-top: 20%;
}
  .Tanding_product_see_more {
    margin-left: 64%;
}
}
@media (max-width: 376px){
  .Tanding_product_see_more {
    margin-left: 60%;
}
}