.phase6-container{
    display: flex;
   
    justify-content: center;
}

.cat-item{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
    
   
}



.tags_container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.tags_inner_container{
    margin-right: 5rem;
}




.tags_element{
    position: relative;

    flex-direction: row;
    margin-right: 10px;
    margin-top: 1rem;
    
}


.name{
    align-items: center;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    
}


.tags_element img{
    border-radius: 50%;
    height: 14rem;
    width: 14rem;
    margin-right: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 2rem;
    margin-left: 1rem;
    
}

.tags_element img:hover{
    transform: scale(1.05);
 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: brightness(0.5); 
}

.tags_element:hover::after {
    /* Display the title attribute content as the title */
    position: absolute;
    bottom: -1.5rem; /* Adjust the position of the title */
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Background color for the title */
    color: #fff; /* Text color for the title */
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  








 .gm-btn{
    background: none;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 24px;
    width: 400;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}


.gb-cutter::before
{
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
/* cutter */

.gb-cutter{
    border: 2px solid ;
    border-radius: 5px;
    box-shadow: 3px 3px ;
    font-size: 1.125rem;
    font-weight: 700;
    overflow: hidden;
    /* color: var(--gb-51); */
}
.gb-cutter::before{
    top: 100%;
    left: 0;
    width: 150%;
    aspect-ratio: 1;
    background: black;
    transform: translate(50%,0%) rotateZ(-45deg);
}
.gb-cutter:hover::before{
    transform: translate(-20%,-60%) rotateZ(-45deg);
}
.gb-cutter:hover{
    box-shadow: 0 0 0;
    color: #eee;
}

@media (max-width: 426px){
    .tags_inner_container {
        margin-right: 2rem;
    }
    
    .tags_element img{
        
        height: 9rem;
        width: 9rem;
        margin-right: 1rem;
        
        
    }
  }

  @media (max-width: 321px){
    .tags_inner_container {
        margin-right: 1rem;
    }

    
    
  } 