.Tradning_product_page{
  margin-top: 40px;
  margin-bottom: 10%;
}
.Tanding_product_see_more{
  margin-top: 0.5%;
  margin-left: 69%;
}

#content::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */



.headsection{
  display: flex;
}
.Trending_product_container {
  
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .tranding_page_Card {
    display: inline-block;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.tranding_page_Card {
  box-shadow: 1px 1px 1px 1px;
  background-color: #ffffff;
    border-radius: 2px;
    /* text-align: start; */
    margin: 5% 6px 5% 5%;
    width: 15rem;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tranding_page_Card:hover{
  transform: scale(1.05);
 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.trending_product_img {
  border-radius: 2px;
  height: 12rem;
  width: 15rem;
  margin-bottom: 1rem;
  
}






.tranding_page_product_name {
  font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0rem;
}
.tranding_page_product_price {
  margin-top: 10%;
  margin-bottom: 10%;
  color: black;
}
.tranding_product_text_box {
  background: #ffffff;
  width: 14rem;
  height: 2.3rem;
  /* border-color: black; */
  padding-left: 4%;
  padding-bottom: 5;
  border-radius: 4px;
  margin-top: 3%;
  
}

.tranding_product_text_box_2 {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 2%;
  padding-left: 10%;
  margin-right: 15%; 
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  width: 5rem;
  border-radius: 20px;
}



.tranding_page_product_price{
  margin-left: 200%;
}





.Trending_product_container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.Trending_product_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Change the color when the thumb is being hovered */
.Trending_product_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
}

/* Optional: Customize scrollbar width and height */
.Trending_product_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media (max-width:769px){
    .Tradning_product_page {
      margin-top: 12%;
  }
}
@media (max-width: 426px){
  .Tradning_product_page {
    margin-top: 20%;
}
  .Tanding_product_see_more {
    margin-left: 64%;
}
}
@media (max-width: 376px){
  .Tanding_product_see_more {
    margin-left: 60%;
}
}