.phase6-container{
    display: flex;
   
    justify-content: center;
}

.service-button{
    height: 3rem;
    width: 10rem;
    display: flex;
    margin-right: 5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.service-button:hover{
    transform: scale(1.05);
 
  box-shadow: 0 0 10px rgba(169, 13, 154, 0.3);
}

.service-button img{
    height: 3rem;
    width: 3rem;
    border-radius: 20px;
}

.cat-name{
    font-weight: 600;
    margin-left: 10%;
}
