.Tradning_product_page{
  margin-bottom: 10%;
}
.Tanding_product_see_more{
  margin-top: 0.5%;
  margin-left: 69%;
}
.Trending_product_container {
  background-color: #f0ecec;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .tranding_page_Card {
    display: inline-block;
  }
}
.tranding_page_Card {
  background-color: transparent;
  border-radius: 5%;
  text-align: start;
  margin: 5% -4% 5% 5%;
  width: 170px;
}
.trending_product_img {
  border-radius: 5%;
  height: 170px;
  width: 150px;
  margin-top: 5%;
}
.tranding_page_product_name {
  margin-top: 3%;
  font-size: 18px;
  color: black;
}
.tranding_page_product_price {
  margin-top: -18%;
  color: black;
}
.tranding_product_text_box {
  background: #ffffff;
  width: 90%;
  /* border-color: black; */
  padding-left: 15%;
  padding-bottom: 5;
  border-radius: 14px;
  margin-top: 3%;
}

.Trending_product_container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.Trending_product_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Change the color when the thumb is being hovered */
.Trending_product_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
}

/* Optional: Customize scrollbar width and height */
.Trending_product_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media (max-width:769px){
    .Tradning_product_page {
      margin-top: 12%;
  }
}
@media (max-width: 426px){
  .Tradning_product_page {
    margin-top: 20%;
}
  .Tanding_product_see_more {
    margin-left: 64%;
}
}
@media (max-width: 376px){
  .Tanding_product_see_more {
    margin-left: 60%;
}
}