.product-details-container {
  display: flex;
  margin-top: 50px;
}

.main-image {
  width: 50%;
  height: 400px; /* Set fixed height for the main image */
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.product-images {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.product-images img {
  width: 100px; /* Set fixed width for the smaller images */
  height: 100px; /* Set fixed height for the smaller images */
  margin: 5px;
  cursor: pointer;
}

.product-info {
  width: 100%;
  padding: 20px;
}
