/* Header2.css */

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {

  margin-top: -18px;
    padding: 0.7rem 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  width: 200px; /* Adjust width as needed */
}

.search-input:focus {
  border-color: #e2964a; /* Change to your desired focus color */
}

.search-icon {
  margin-top: -17px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #4a90e2; /* Change to your desired hover color */
}
