.section-title{
  position:relative;
  color: black;
}

.custom-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.badge{
  --bs-badge-color: #000;
}



.number-tag{
  color: black;
}



